/**
 * marcneander.se stylesheet
 *
 * This stylesheet follows the principles of writing
 * consistent, idiomatic CSS by Nicolas Gallagher.
 *
 * https://github.com/necolas/idiomatic-css/
 *
 */

/* Include normalize.css by Nicolas Gallagher */
@import "~normalize-css/normalize.css";

/* Include everything else */
@import "type";
@import "common";
@import "components/label";
@import "utils";


html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #333333;
    text-align: center;
}

.container {
    padding: 40px 12px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 768px) {
        width: 620px;
        padding: 80px 12px;
    }
}
