/* ==========================================================================
   Labels
   ========================================================================== */

.label {
    display: inline-block;
    padding: 0 14px;
    margin-bottom: 10px;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 42px;
    color: #26B255;
    text-transform: uppercase;
    border: 1px solid #26B255;
    border-radius: 21px;

    &.label-s {
        font-size: 14px;
        line-height: 38px;

        border-radius: 19px;
    }

    &.label-xs {
        font-size: 12px;
        line-height: 34px;

        border-radius: 17px
    }
}
