/* ==========================================================================
Fonts
========================================================================== */

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local('Rubik'), local('Rubik-Regular'),
        url('/fonts/rubik-400.woff2') format('woff2'),
        url('/fonts/rubik-400.woff') format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: local('Rubik Bold'), local('Rubik-Bold'),
        url('/fonts/rubik-700.woff2') format('woff2'),
        url('/fonts/rubik-700.woff') format('woff');
}
