<!doctype html>
<html>
    <head>
        <base href="/">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Small presentation site about myself">
        <meta name="keywords" content="Marc Neander, front-end, frontend, developer, JavaScript, CSS, HTML">
        <meta name="author" content="Marc Neander">
        <meta name="theme-color" content="#ffffff">

        <title>Marc Neander &middot; Front End Developer</title>

        <link rel="apple-touch-icon" sizes="180x180" href="<%=require('./apple-touch-icon.png')%>">
        <link rel="icon" type="image/png" sizes="32x32" href="<%=require('./favicon-32x32.png')%>">
        <link rel="icon" type="image/png" sizes="16x16" href="<%=require('./favicon-16x16.png')%>">
        <link rel="manifest" href="<%=require('./manifest.json')%>">
        <link rel="mask-icon" href="<%=require('./safari-pinned-tab.svg')%>" color="#474747">
        <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Condensed:700,300" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <div class="container">
                <h1>Marc Neander</h1>
                <h2>Frontend Developer</h2>
                <p>I'm Marc from Stockholm.<br>I code things.</p>
                <img src="<%=require('./img/marc.svg')%>" alt="Marc Neander" />
            </div>
        </header>
        <section class="sec-p-l">
            <div class="container">
                <h3 class="fs24">Hello!</h3>
                <p>Away from work I spend most my time rock climbing. If not that, I go running, traveling or simply having a beer.</p>
                <p>At work I've had the pleasure of working on many great projects over the years, such as creating mobilefriendly single page applications built with <a href="https://angularjs.org/">AngularJS</a> or <a href="https://facebook.github.io/react/">React</a>, creating and maintaining a fork of the <a href="http://getbootstrap.com/">Bootstrap</a> amongst other.</p>
                <p>I'm a quick learner and love to explore new technologies to help develop myself further.</p>
                <br>
                <p class="mb-10"><strong>I'm really good at</strong></p>
                <div class="mb-38">
                    <span class="label label-l">HTML</span>
                    <span class="label label-l">CSS</span>
                    <span class="label label-l">JavaScript</span>
                </div>
                <p class="mb-10"><strong>And i'm good at</strong></p>
                <div class="mb-38">
                    <span class="label label-s">AngularJS</span>
                    <span class="label label-s">UX</span>
                    <span class="label label-s">Git</span>
                    <span class="label label-s">CSS preprocessor</span>
                    <span class="label label-s">Ionic</span>
                    <span class="label label-s">Gulp</span>
                    <span class="label label-s">Terminal</span>
                    <span class="label label-s">Jira</span>
                    <span class="label label-s">jQuery</span>
                </div>
                <p class="mb-10"><strong>And decent at</strong></p>
                <div class="mb-38">
                    <span class="label label-xs">Node.js</span>
                    <span class="label label-xs">PHP</span>
                    <span class="label label-xs">React / React Native</span>
                    <span class="label label-xs">VMWare</span>
                    <span class="label label-xs">Redis</span>
                    <span class="label label-xs">Make</span>
                    <span class="label label-xs">PostgreSQL</span>
                    <span class="label label-xs">Apache</span>
                    <span class="label label-xs">Mocha</span>
                    <span class="label label-xs">Ubuntu</span>
                    <span class="label label-xs">Arch Linux</span>
                    <span class="label label-xs">CentOS</span>
                    <span class="label label-xs">Capybara</span>
                    <span class="label label-xs">SEO</span>
                    <span class="label label-xs">Photoshop</span>
                </div>
                <p>For more, check out my <a href="https://github.com/marcneander">Github</a>.
            </div>
        </section>
        <section class="sec-p-m sec-special">
            <div class="container">
                <img src="<%=require('./img/work_big_2x.png')%>" alt="Work content" class="work">
                <h3>Where do I work?</h3>
                <p>I'm a frontend developer at Schibsted Media Group. A media house owning a bunch of websites and services mostly in Norway and Sweden. Currently I'm working at <a href="http://www.bytbil.com/">BytBil.se</a>, a Swedish car vertical service. </p>
            </div>
        </section>
        <footer class="sec-p-s">
            <div class="container">
                <img src="<%=require('./img/avatar.png')%>" alt="Avatar" class="avatar" height="108" width="108">
                <h3>Wanna get in touch?</h3>
                <a href="mailto:marcneander@gmail.com">marcneander@gmail.com</a>
            </div>
        </footer>
        <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-21320492-3', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
